[submodule "json_schema_generator"]
	path = json_schema_generator
	url = https://github.com/catb0t/json_schema_generator
[submodule "anticsrf"]
	path = anticsrf
	url = https://github.com/catb0t/anticsrf
[submodule "httplib2shim"]
	path = httplib2shim
	url = https://github.com/GoogleCloudPlatform/httplib2shim
