[submodule "json_schema_generator"]
	path = json_schema_generator
	url = https://github.com/catb0t/json_schema_generator
[submodule "anticsrf"]
	path = anticsrf
	url = https://github.com/catb0t/anticsrf
[submodule "transactor"]
	path = transactor
	url = https://github.com/catb0t/transactor
